server:
  error:
    include-message: always
spring:
  application:
    name: "Spring Boot Application for uploading & downloading files to/from AWS S3 buckets"
  servlet:
    multipart:
      file-size-threshold: 1MB

application:
  aws:
    awsAccessKeyId: ""
    awsSecretAccessKey: ""
    awsSessionToken: ""
    region: ""
    s3:
      s3BucketName: ""
