server:
  error:
    include-message: always
spring:
  application:
    name: "Spring Boot Application using some AWS services"
  servlet:
    multipart:
      file-size-threshold: 1MB

application:
  aws:
    awsAccessKeyId: ""
    awsSecretAccessKey: ""
    awsSessionToken: ""
    region: ""
    s3:
      s3BucketName: ""
    dynamodb:
      endpoint: "https://dynamodb.eu-central-1.amazonaws.com"
      tableName: ""
